---
import { Container } from "../../components/Container";
import Layout from "../../layouts/Layout.astro";
import { PostList } from "../../modules/posts/components/PostList";
import { getAllPosts } from "../../modules/posts/services/getAllposts";
import { PostHighlight } from "../../modules/posts/components/PostHighlight";
import { Title } from "../../components/Title";

const allBlogPosts = await getAllPosts();
const firstPost = allBlogPosts.shift();
---

<Layout title="Marvin Frachet's blog">
  <main class="pt-48 lg:pt-40">
    <Container>
      <Title as="h1" className="text-4xl pb-8">Blog posts</Title>

      {
        firstPost && (
          <div class="pb-4 md:pb-12">
            <PostHighlight post={firstPost} client:load />
          </div>
        )
      }

      <PostList posts={allBlogPosts} client:visible />
    </Container>
  </main>
</Layout>
