---
import { WhoIAm } from "../modules/WhoIAm";
import { Text } from "../components/Text";
import { Container } from "../components/Container";
import Layout from "../layouts/Layout.astro";
import meSrc from "../assets/me.jpg";
import { getAllPosts } from "../modules/posts/services/getAllposts";
import { PostList } from "../modules/posts/components/PostList";
import { Link } from "../components/Link";
import { Image } from "astro:assets";
import { Title } from "../components/Title";

import bgSrc from "../assets/bg.jpg";
import { engine } from "../modules/flags/engine";
import { getUserId } from "../modules/flags/getUserId";
import { track } from "../modules/analytics/mixpanel";

const POST_TO_SHOW_HOMEPAGE = 3;
const latestPosts = (await getAllPosts()).slice(0, POST_TO_SHOW_HOMEPAGE);

const { userId, userAgent, ipAddress } = getUserId(Astro);

const userCtx = engine.createUserContext({
  __id: userId,
});

const variant = userCtx.evaluate("homepage-variant");

track(userId, "homepage-view", { variant, userAgent, ipAddress });
---

<Layout title="Marvin Frachet, Frontend Engineer" heroImage={bgSrc.src}>
  <main>
    <div class="text-center flex flex-col items-center px-4">
      <Image
        src={meSrc}
        alt="Marvin Frachet (me)"
        quality={100}
        class="rounded-full aspect-ratio border-8 border-white h-72 w-72 object-cover object-right"
      />

      <Text as="h1" className="text-3xl md:text-5xl	font-bold pt-4">
        Marvin Frachet
      </Text>

      <Text as="p" className="text-xl md:text-2xl pt-2 !text-zinc-400 ">
        Frontend Engineer building things with React & friends.
      </Text>
    </div>

    <Container>
      <div class="py-12 md:py-40 max-w-4xl mx-auto">
        <WhoIAm />
      </div>

      <section>
        <div
          class="flex flex-col md:flex-row md:items-center justify-between pb-8"
        >
          <Title as="h2" className="text-3xl"> Latest posts </Title>

          <Link href="/blog">See all posts</Link>
        </div>
        <PostList posts={latestPosts} client:visible />
      </section>
    </Container>
  </main>
</Layout>
